<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    
    <h1>Home Page</h1>
    <a href="/users">View all users</a>

    <% if (session_id) { %> 
        <a href="/users/<%= session_id %>">View Profile</a>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    <% } else { %> 
        <a href="/register">Sign Up</a>
        <a href="/login">Login</a>
    <% } %> 
</body>
</html>