<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    
    <h1>Home Page</h1>
    <a href="/users">View all users</a>

    <% if (user) { %> 
        <a href="/users/<%= user._id %>/edit">Edit Profile</a>
    <% } %> 

    <a href="/register">Sign Up</a>

    <a href="/login">Login</a>

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>